.checksection_Outer {
    display: flex;
}
.checksection{
    padding: 20px 150px;
    border-radius: 20px;
    background-color: #ffffff;
    margin: auto;
}
.checksection_Header{
    display: flex;
    margin-bottom: 10px;
}
.checksection_Header button {
    padding: 5px 20px;
}
.checksection_userbox {
    display: flex;
}
.checksection-generation {
    margin-bottom: 5px;
    display: block;
}
.checksection_generation_name {
    font-weight: bold;
    margin-bottom: 4px;
}
.checksection_collection_inner:last-child {
    margin-top: 20px;
}
.checksection_Checked_nickname, .checksection_UnChecked_nickname {
    width: 100px;
}
.checksection_partition{
    text-align: center;
    font-size: larger;
    font-weight: bolder;
}
.checksection_CurrentDate{
    text-align: center;
    font-weight: bolder;
    font-size: 20px;
    margin: 0 20px;
    width: 200px;
}