:root {
    
    --color_1: #FFA500;
    --color_2: #DFE0DF;
    --color_3: #1e1f38;
    --color_4: #FF4B2B;

}
.formHeader {
    margin: 0 auto;
    background-color: #73C6B6;
    padding-bottom: 10px;
}
.formHeader .formTitle {
    padding-top: 50px;
    padding-bottom: 20px;
    font-weight: bold;
    font-size: 20px;
    text-decoration: underline;
    text-underline-offset: 5px;
    text-align: center;
}
.formHeader .stepBox {
    display: flex;
    justify-content: center;
}
.formHeader .stepBox .step {
    display: inline-block;
    width: 120px;
    margin: 5px 10px;
    background-color: whitesmoke;
    padding: 3px 0;
    border-radius: 20px;
    border: solid 1px lightgray;
    font-size: 14px;
    color: #626567;
    text-align: center;
}
.formHeader .stepBox .stepHighlight {
    border: solid 2px #138D75;
    color: #138D75;
}
.formBox {
    width: 600px;
    margin: 20px auto;
    text-align: left;
}
.formBox .formTitle {
    font-weight: bold;
    padding: 5px 0;
}
.formBox .formContent {
    font-size: 13px;
    padding-bottom: 5px;
}
.formBox input {
    width: 600px;
    box-sizing: border-box;
    border: 2px solid lightgray;
    border-radius: 20px;
    margin: 0;
}
.formBox .formButton3 {
    display: inline-block;
    width: 196px;
    text-align: center;
    box-sizing: border-box;
    padding: 7px 0;
    cursor: pointer;
}
.formBox div {
    margin-right: 5px;
}
.divStyle div:nth-child(2) {
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}
.divStyle div:last-child {
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    margin: 0px;
}
.formBox .formButton2 {
    display: inline-block;
    width: 297px;
    text-align: center;
    box-sizing: border-box;
    padding: 7px 0;
    cursor: pointer;
}
.datePicker label {
    display: inline-block;
}
.datePicker label:first-child {
    margin-right: 5px;
}
.datePicker :global(.react-datepicker__input-container) input {
    width: 295px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 10px;
    outline: none;
}
.datePicker :global(.react-datepicker) {
    font-size: 14px;
}
.formFooter {
    position: relative;
    width: 600px;
    height: 40px;
    margin: 10px auto;
}
.formFooter .prevButton {
    position: absolute;
    left: 6px;
    width: 80px;
    height: 40px;
    padding: 0;
    border-radius: 5px;
    font-weight: normal;
    font-size: 13px;
    cursor: pointer;
    background-color: var(--color_1);
    border: none;
}
.formFooter .nextButton {
    position: absolute;
    right: 6px;
    width: 80px;
    height: 40px;
    padding: 0;
    border-radius: 5px;
    font-weight: normal;
    font-size: 13px;
    cursor: pointer;
    border: none;
}
.formBox .formBody {
    border-radius: 0;
    width: 600px;
}
.formBox .formBody textarea {
    width: 600px;
    height: 100px;
    border: 1px solid lightgray;
    background-color: white;
    box-sizing: border-box;
    padding: 10px;
}
.formBox .formImageBox {
    width: 100%;
}
.formBox .formImageBox > input {
    border-radius: 0;
    border: 0;
}
.formBox .formImageBox .formImage {
    width: 100%;
    max-height: 300px;
    object-fit: scale-down;
    background-color: whitesmoke;
    padding: 15px 0;
}
.formBox .formImageBox div.formImage {
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.formBox .formImageBox div.formImage .formImageDescription {
    font-size: 12px;
}
.imageNames {
    white-space: pre-line;
    background-color: white;
    width: 600px;
    box-sizing: border-box;
    padding: 0 15px 15px 15px;
    font-size: 13px;
}
.imageNames .subImageContainer {
    margin-bottom: 5px;
}
.imageNames button {
    font-weight: normal;
    padding: 4px 10px;
    border-radius: 10px;
    margin-right: 10px;
    cursor: pointer;
}
.tagInputContainer {
    width: 600px;
}
  
.tagList .tag {
    display: inline-block;
    padding: 0 4px;
    margin-top: 7px;
    background-color: whitesmoke;
    color: darkslategray;
    font-weight: normal;
    font-size: 15px;
}
.tagList .tag button {
    cursor: pointer;
    color: gray;
    padding: 0 4px;
    border: none;
    font-weight: normal;
    background-color: whitesmoke;
}
.formBox .recruitBox {
    background-color: whitesmoke;
    box-sizing: border-box;
    padding: 5px 10px;
    margin-bottom: 10px;
    border-radius: 10px;
    font-size: 14px;
}
.formBox .recruitBox span {
    display: inline-block;
    width: 500px;
    
}
.recruitFormContainer .recruitBox button {
    padding: 0;
}
.recruitInputBox {
    display: flex;
    margin-top: 10px;
}
.recruitInputBox input {
    border-radius: 0;
    margin-right: 5px;
}
.recruitInputBox button {
    padding: 0;
    width: 80px;
    background-color: yellowgreen;
    border: 0;
    cursor: pointer;
    font-weight: normal;
}
.recruitFormBox {
    display: flex;
    margin-bottom: 10px;
}
.recruitFormBox .recruitBox {
    width: 570px;
    margin: 0;
}
.recruitFormBox .recruitButton {
    padding: 0;
    width: 30px;
    cursor: pointer;
    text-align: center;
    font-size: 15px;
    padding: 2px 0;
}