:root {
    
    --color_1: #FFA500;
    --color_2: #DFE0DF;
    --color_3: #1e1f38;
    --color_4: #FF4B2B;

}
.project-create {
    margin-top: -108px;
    margin-bottom: -108px;
}
.project-create .form-header {
    margin: 0 auto;
    background-color: #73C6B6;
    padding-bottom: 10px;
}
.project-create .form-header .form-title {
    padding-top: 50px;
    padding-bottom: 20px;
    font-weight: bold;
    font-size: 20px;
    text-decoration: underline;
    text-underline-offset: 5px;
    text-align: center;
}
.project-create .form-header .step-box .step {
    display: inline-block;
    width: 120px;
    margin: 5px 10px;
    background-color: whitesmoke;
    padding: 3px 0;
    border-radius: 20px;
    border: solid 1px lightgray;
    font-size: 14px;
    color: #626567;
    text-align: center;
}
.project-create .form-header .step-box .step-highlight {
    border: solid 2px #138D75;
    color: #138D75;
}
.project-create .form-box {
    width: 600px;
    margin: 20px auto;
    text-align: left;
}
.project-create .form-box .form-title {
    font-weight: bold;
    padding: 5px 0;
}
.project-create .form-box .form-content {
    font-size: 13px;
    padding-bottom: 5px;
}
.project-create .form-box input {
    width: 600px;
    box-sizing: border-box;
    border: 2px solid lightgray;
    border-radius: 20px;
    margin: 0;
}
.project-create .form-box .form-button-3 {
    display: inline-block;
    width: 196px;
    text-align: center;
    box-sizing: border-box;
    padding: 7px 0;
    cursor: pointer;
}
.project-create .form-box div {
    margin-right: 5px;
}
.project-create .div-style div:nth-child(2) {
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}
.project-create .div-style div:last-child {
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    margin: 0px;
}
.project-create .form-box .form-button-2 {
    display: inline-block;
    width: 297px;
    text-align: center;
    box-sizing: border-box;
    padding: 7px 0;
    cursor: pointer;
}
.project-create .date-picker label {
    display: inline-block;
}
.project-create .date-picker label:first-child {
    margin-right: 5px;
}
.project-create .date-picker .react-datepicker__input-container input {
    width: 295px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 10px;
    outline: none;
}
.project-create .date-picker .react-datepicker {
    font-size: 14px;
}
.project-create .form-footer {
    position: relative;
    width: 600px;
    height: 40px;
    margin: 10px auto;
}
.project-create .form-footer .prev-button {
    position: absolute;
    left: 6px;
    width: 80px;
    height: 40px;
    padding: 0;
    border-radius: 5px;
    font-weight: normal;
    font-size: 13px;
    cursor: pointer;
    background-color: var(--color_1);
    border: none;
}
.project-create .form-footer .next-button {
    position: absolute;
    right: 6px;
    width: 80px;
    height: 40px;
    padding: 0;
    border-radius: 5px;
    font-weight: normal;
    font-size: 13px;
    cursor: pointer;
    border: none;
}
.project-create .form-box .form-body {
    border-radius: 0;
    width: 600px;
}
.project-create .form-box .form-body textarea {
    width: 600px;
    height: 100px;
    border: 1px solid lightgray;
    background-color: white;
    box-sizing: border-box;
    padding: 10px;
}
.project-create .form-box .form-image-box {
    width: 100%;
}
.project-create .form-box .form-image-box > input {
    border-radius: 0;
    border: 0;
}
.project-create .form-box .form-image-box .form-image {
    width: 100%;
    max-height: 300px;
    object-fit: scale-down;
    background-color: whitesmoke;
    padding: 15px 0;
}
.project-create .form-box .form-image-box div.form-image {
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.project-create .form-box .form-image-box div.form-image .form-image-description {
    font-size: 12px;
}
.project-create .image-names {
    white-space: pre-line;
    background-color: white;
    width: 600px;
    box-sizing: border-box;
    padding: 0 15px 15px 15px;
    font-size: 13px;
}
.project-create .image-names .subImage-container {
    margin-bottom: 5px;
}
.project-create .image-names button {
    font-weight: normal;
    padding: 4px 10px;
    border-radius: 10px;
    margin-right: 10px;
    cursor: pointer;
}
.project-create .tag-input-container {
    width: 600px;
}
  
.project-create .tag-list .tag {
    display: inline-block;
    padding: 0 4px;
    margin-top: 7px;
    background-color: whitesmoke;
    color: darkslategray;
    font-weight: normal;
    font-size: 15px;
}
.project-create .tag-list .tag button {
    cursor: pointer;
    color: gray;
    padding: 0 4px;
    border: none;
    font-weight: normal;
    background-color: whitesmoke;
}
.project-create .form-box .recruit-box {
    background-color: whitesmoke;
    box-sizing: border-box;
    padding: 5px 10px;
    margin-bottom: 10px;
    border-radius: 10px;
    font-size: 14px;
}
.project-create .form-box .recruit-box span {
    display: inline-block;
    width: 500px;
    
}
.project-create .recruit-form-container .recruit-box button {
    padding: 0;
}
.project-create .recruit-input-box {
    display: flex;
    margin-top: 10px;
}
.project-create .recruit-input-box input {
    border-radius: 0;
    margin-right: 5px;
}
.project-create .recruit-input-box button {
    padding: 0;
    width: 80px;
    background-color: yellowgreen;
    border: 0;
    cursor: pointer;
    font-weight: normal;
}
.project-create .recruit-form-box {
    display: flex;
    margin-bottom: 10px;
}
.project-create .recruit-form-box .recruit-box {
    width: 570px;
    margin: 0;
}
.project-create .recruit-form-box .recruit-button {
    padding: 0;
    width: 30px;
    cursor: pointer;
    text-align: center;
    font-size: 15px;
    padding: 2px 0;
}