:root {
    
    --color_1: #FFA500;
    --color_2: #DFE0DF;
    --color_3: #1e1f38;
    --color_4: #FF4B2B;

}
.projectDetail {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 15px;
}
.projectBoxDetail {
    display: flex;
    flex-direction: row;
    width: 700px;
    height: 350px;
    position: relative;
    margin: 0 auto;
}
.titleBox {
    position: relative;
}
.joinTitle {
    text-align: center;
    margin: 30px auto;
    font-size: 30px;
    font-weight: bold;
}
.joinTitle::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 300px;
    height: 150%;
    border: 2px dotted;
    border-radius: 50%;
    box-sizing: border-box;
}
/* Project Info Box */
.projectBoxDetail .projectBoxColumn {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    border: solid 2px;
    background-color: #f8f8f8;
}
.projectBoxDetail .projectBoxColumn:first-child {
    margin-right: 10px;
}
.projectBoxDetail .projectBoxColumn img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.projectBoxDetail .projectBoxColumn .name {
    height: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    overflow-wrap: break-word;
    padding: 5px;
    font-size: 22px;
    border-bottom: solid 1px;
    text-align: center;
    background-color: var(--color_1);
}
.projectBoxDetail .projectBoxColumn .comment {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 25%;
    padding: 5px 15px;
    font-size: 14px;
    border-bottom: solid 1px;
    background-color: lemonchiffon;
}
.projectBoxDetail .projectBoxColumn .info {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    color: dimgray;
    padding: 5px 16px;
    font-size: 14px;
}
.projectBoxDetail .projectBoxColumn .info > div {
    text-align: left;
    padding: 3px 0;
}
.projectBoxDetail .projectBoxColumn .info .infoTitle {
    display: inline-block;
    width: 70px;
    padding-left: 3px;
}
/* Apply Form */
.projectBody {
    width: 700px;
    margin: 0 auto;
    text-align: left;
    border: solid 2px;
    padding: 10px;
    background-color: white;
    box-sizing: border-box;
    padding-bottom: 20px;
}
.projectBody:last-child {
    margin-bottom: 20px;
}
.projectBody .bodyTitle {
    font-weight: bold;
    font-size: 25px;
    padding: 10px;
}
.projectBody .formItem {
    margin-top: 25px;
    padding: 0 15px;
    box-sizing: border-box;
}
.projectBody .formItem .formTitle {
    font-weight: bold;
}
.projectBody .formItem textarea {
    margin-top: 7px;
    width: 100%;
    height: 70px;
    padding: 5px;
    border: 1px solid gray;
    border-radius: 10px;
    box-sizing: border-box;
    resize: none;
}
.projectBody button {
    width: 96%;
    margin: 0 auto;
    border-radius: 10px;
    margin-top: 20px;
    font-size: 15px;
    cursor: pointer;
}