@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;200;300;400;500;600;700;800;900&display=swap');



.post {
    width: 550px;
    background-color: white;
    border: solid 1px black;
    border-radius: 7px;
    font-family: 'Noto Sans KR', sans-serif;
    margin: auto;
    margin-top: 10px;
}
.paddingDiv {
    padding: 10px;
}
.postHeader {
    display: flex;
}
.profileImg {
    height: 70px;
    width: 70px;
}
.profileImg img {
    height: 60px;
    width: 60px;
    border-radius: 50%;
    object-fit: cover;
}
.postInfo {
    height: 70px;
}
.userName {
    font-weight: bold;
    line-height: 25px;
}
.inGroup {
    color: #808080;
    font-size: 13px;
    font-weight: 300;
    line-height: 20px;
}
.postedWhen {
    color: #808080;
    font-size: 13px;
    font-weight: 300;
    line-height: 10px;
}


.postContents {
    font-weight: 400;
    font-size: 15px;
    line-height: 23px;
}
.folded {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}
.foldBtn {
    color: #808080;
    text-align: left;
    cursor: pointer;
    font-weight: 600;
}

.postPic {
    height: 550px;
    width: 550px;
    overflow: hidden;
}

.imgContainer {
    height: 550px;
}

.postPic img{
    width: 550px;
    height: 550px;
    object-fit: cover;
    float: left;
    transition: 0.3s;
}


.btnContainer {
    display:flex;
    position: relative;
    top: -300px;
    justify-content: space-between;
}
.btnContainer img {
    height: 20px;
    width: 20px;
    object-fit: cover;
    position: relative;
    top: 15px;
    left: 15px;
    filter: grayscale(100%) brightness(400%) opacity(70%);
}
.placeHolder {
    height: 50px;
    width: 50px;
}
.prev {
    height: 50px;
    width: 50px;
    cursor: pointer;
}
.prev img {
    transform: rotate(-90deg)
}
.next {
    height: 50px;
    width: 50px;
    cursor: pointer;
}
.next img {
    transform: rotate(90deg)
}

.numOfLikesNComments {
    margin-left: 10px;
    font-weight: 400;
    font-size: 15px;
}

hr {
    margin: 5px 10px 0px 10px;
}


@keyframes clickReaction {
    0% {
        transform: scale(0.9);
    }
    25% {
        transform: scale(1.2);
    }
    100% {
        transform: scale(1);
    }
}
.on {
    animation: clickReaction 0.5s;
}
.off {
    transform: scale(1);
}
.postFooter {
    padding: 10px;
    display: flex;
}
.like {
    height: 25px;
    width: 25px;
    transition: 0.3s;
    margin-right: 15px;
}
.like:hover{
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
}
.like img{
    height: 25px;
    width: 25px;
    object-fit: cover;
}
.forColoredImg {
    filter: invert(85%) sepia(39%) saturate(4810%) hue-rotate(2deg) brightness(108%) contrast(104%);
    /** https://codepen.io/sosuke/pen/Pjoqqp */
}
.comment {
    width: 25px;
    height: 25px;
    transition: 0.3s;
}
.comment:hover{
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
}