:root {
    --color_1: #FFA500;
    --color_2: #DFE0DF;
    --color_3: #1e1f38;
    --color_4: #FF4B2B;

}

.back-to-profile-button{
    cursor: pointer;
    float: left;
    margin-top: 5px;
    margin-left: -10px;
    margin-right: 15px;
}

.edit-add-button {
    background-image: url("../images/plus-icon.png");
    background-color: transparent; /* make the button transparent */
    background-repeat: no-repeat;  /* make the background image appear only once */
    background-size: contain;
    background-position: 50% 50%;
    float: right;
    width: 40px;
    height: 20px;
    margin: 12px;
    cursor: pointer;
    margin-top: -3px;
    margin-right: 20px;
    border: none;
    i {
      color: #5d5d5d;
      font-size: 30px;
    }
  }

.detail-add-profile{
    border: none;
}

.detail-background {
    overflow-y: 'auto'; 
    height: 750px;
}

.detail-container {
    max-width: 1250px;
    margin: 15px auto;
    padding: 0 0 15px 0 !important;
    width: 90%;
    background-color: #fff;
    border-radius: 10px;
}

.detail-contents {
    padding-top: 25px;
    padding-bottom: 25px;
    margin-left: 10%;
    margin-top: 1.5%;
}
