.profile-post-list {
    overflow-y: auto;
    padding: 10px 0;
    display: inline-flex;
    width:800px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.user-profile-img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-left: 10px;
    margin-right: 10px;
}

.no-posts-message {
    font-weight: bolder;
    font-size: x-large;
}