:root {
    
  --color_1: #FFA500;
  --color_2: #DFE0DF;
  --color_3: #1e1f38;
  --color_4: #FF4B2B;

}

.header-container {
  max-width: 1250px;
  margin: 20px auto 15px;
  padding: 0 0 15px 0 !important;
  width: 90%;
  background-color: #fff;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}

.container {
  max-width: 1250px;
  margin: 15px auto;
  padding: 0 0 15px 0 !important;
  width: 90%;
  background-color: #fff;
}

.career-container {
  max-width: 1250px;
  margin: 15px auto;
  padding: 0 0 15px 0 !important;
  width: 90%;

  height: auto;
  background-color: #fff;
}

.buttons {
  text-align: center;
}
.buttons span {
  display: inline-block;
  width: 80px;
  padding: 5px 30px;
  margin: 0 10px;
  background-color: white;
  font-size: 16px;
  cursor: pointer;
}

main {
  max-width: 800px;
  padding: 20px 20px 0px 20px;
  margin: 0 auto;
}

.bg-image {
  background: #eee;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 150px;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}

.profile-header {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  padding: 0 10px;
  margin: auto;
}

.header-left,
.header-right {
  width: 200px
}

.profile-image {
  width: 170px;
  height: 170px;
  margin-top: -120px;
  border-radius: 100px;
  border: 4px solid #fff;
}

.nickname {
  margin-top: 20px;
  margin-right: 5px;
  font-weight: bold;
  font-size: 18pt;
  color: color_3;
}

.info {
  margin: 5px 3px 5px 3px;
  font-size: 11pt;
  color: rgb(158, 158, 158);
}

.header-left3 button {
  font-size: 10px;
  padding: 10px 25px;
  margin-top: 10px;
  background-color: var(--color_4);
  cursor: pointer;
}

.header-right a:nth-child(1)  { color: #4267b2; }
.header-right a:nth-child(2)  { color: #d62976; }

.header-right a{
  cursor: pointer;
  margin: 0 3px;
}

.header-right2 {
  font-size: 14px;
}

.header-right {
  padding-left: 40px;
}

.body1 {
  padding: 0 10px;
  display: flex;
}

.container h2 {
  color: var(--color_3);
  margin-bottom: 10px;
  font-size: 25px;
  padding: 0 10px;
}

.body1 img {
  width: 300px;
  height: 200px;
  margin-right: 30px;
}

.intro-content {
  line-height: 150%;
  height: 170px;
  overflow: auto;
  white-space: pre-line;
}
.intro-keywords {
  margin-top: 10px;
}
.intro-keywords span:hover,
.buttons span:hover {
  background-color: var(--color_1);
  transition: 0.7s;
}
.intro-keywords span {
  background-color: var(--color_2);
  padding: 1px 10px;
  margin: 5px;
  border-radius: 5px;
}

.highlight {
  color: var(--color_4);
}

.career-body {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}
.career:nth-child(2n+1) {
  margin-right: 2%;
}
.career {
  width: 45%;
  padding: 2px 2% 15px 2%;
  margin-bottom: 10px;
  background-color: whitesmoke;
  border-radius: 5%
}
.career-title {
  font-size: 18px;
  font-weight: 600;
  line-height: 200%;
  margin-bottom: 5px;
  color: var(--color_3);
  -webkit-text-decoration: underline wavy var(--color_1);
  text-decoration: underline wavy var(--color_1);
}
.post {
  overflow-x: auto;
  white-space: nowrap;
}
.post span {
  display: inline-block;
  width: 300px;
  margin: 5px;
  border: 1px solid #ccc;
  padding: 10px
}
.comment {
  display: flex;
  align-items: center;
  padding: 0 10px;
}
.comment img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
.comment form{
  flex: 1;
}
.comment input {
  width: 86%;
  box-sizing: border-box;
  margin-left: 2%;
  margin-right: 2%;
}

.comment button {
  width: 10%;
  font-size: 13px;
  font-weight: 500;
  padding: 2%;
  background-color: var(--color_4);
  cursor: pointer;
}