@import url('https://fonts.googleapis.com/css2?family=Gabarito:wght@600&family=Noto+Sans+KR:wght@500&display=swap');
* {
    font-family: 'Noto Sans KR', sans-serif;
}
:root {
    --color_1: #FFA500;
    --color_2: #DFE0DF;
    --color_3: #1e1f38;
    --color_4: #FF4B2B;
}
.link {
    text-decoration: none;
    color: inherit;
}
ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}
.color1 {
    color: var(--color_1);
}
.background {
    background-color: var(--color_2);
}
.header {
    display: flex;
    z-index: 1000;
    position: fixed;
    justify-content: center;
    height: 108px;
    background-color: var(--color_3);
    width: 100%;
    color: var(--color_2);
    top: 0;

}
.header__inner {
    padding-top: 15px;
    padding-bottom: 30px;
    width: 1100px;
    display: flex;
    text-align: center;
}
.header__left {
    flex: 3;
    display: flex;
    padding-top: 15px;
    font-size: 20px;
    white-space: nowrap;

}
.header__item {
    flex-grow: 1;
    padding: 10px;
}
.header__left:hover{
    color: white;
}
.header__mid {
    flex: 2;
    text-align: center;
    padding-top: 15px;
}
.linkedneet_logo {
    font-size: 3rem;
    font-family: 'Gabarito', cursive;
    margin-top: 0;
    text-align: center;
    line-height: 35px;
}
.header__right {
    flex: 3;
    display: flex;
    padding-top: 15px;
    align-items: center;
}

.header__search-container {
    position: relative;
    margin: 0px 0px 0px 10px;
}

.header__searchbar {
    flex: 3;
    min-width: 50px;
    height: 20px;
    line-height: 20px;

    padding: 7px;
    margin: 0px;

    border-radius: 45px;
    border: 2px solid var(--color_3);
    background-color: var(--color_2);
    transition: all 0.2s;
    position: relative;
    color: black;
}

.header__searchbar:focus {
    background-color: var(--color_2);
    outline: none;
}
.header__searchbar:hover {
    cursor: pointer;
    border-color: white;
}

.fake-placeholder {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    transition: all 0.2s ease;
    color: gray;
    font-size: 13px;
    align-items: center;
    line-height: 100%;
}

.header__search-container.active .fake-placeholder {
    left: 9px;
    transform: translate(0, -50%);
}

.header__notice {
    flex: 1;

    white-space: nowrap;

}
.header__loginout {
    flex: 1;
    padding: 10px;
}
body {
    margin-top: 108px;
}
.Footer {
    background-color: #1e1f38;
    color: #DFE0DF;
    padding: 20px;
}
.FooterLogo>.linkedneet_logo {
    text-align: left;
    margin-bottom: 20px;
}
