:root {
    
    --color_1: #FFA500;
    --color_2: #DFE0DF;
    --color_3: #1e1f38;
    --color_4: #FF4B2B;

}

.body {
  text-align: center;
  display: block;
}


.friend-texts {
  display: flex;
  padding-top: 3px;
  padding-bottom: 4px;
  width: 720px;
  height: 35px;
  justify-content: center;
  align-items: center;

  font-size: 14px;

  border: 5px solid var(--color-2, #1E1F38);
  border-radius: 15px;
  background: var(--60, #FFF);
}

.friend-profiles {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 15px;
}

.profiles-row {
  display: flex;
  padding: 15px 10px 0px 10px;
  justify-content: center;
}

.user-profile {
  position: relative;
  width: 350px;
  height: 350px;
  margin-left: 10px;
  margin-right: 10px;
  
  border: 1px solid var(--grey, #989898);
  border-radius: 15px;
  background: var(--pure-white, #FFF);
}

.background-img {
  width: 350px;
  height: 188px;

  border: 1px solid var(--grey, #989898);
  border-radius: 15px 15px 0px 0px;
  background: var(--pure-white, #FFF);
}

.profile-img {
  position: absolute;
  top: 125px;
  left: 199px;
  width: 126px;
  height: 126px;

  border: 1px solid var(--grey, #989898);
  border-radius: 50%;
  background: var(--pure-white, #FFF);
  object-fit: cover; /* 이미지가 비율을 유지하면서 컨테이너를 채우도록 설정 */
  overflow: hidden; /* 컨테이너를 넘어가는 이미지 부분을 숨김 */
}


.profile-info {
  font-family: IBM Plex Sans KR;
  font-size: 14px;
  font-weight: 500;
}

.profile-name {
  position: absolute;
  top: 212px;
  left: 29px;
  margin: 5px 0;

  color: #000;
  font-size: 28px;
  font-weight: bold;
}

.profile-group {
  position: absolute;
  top: 264px;
  left: 29px;
  margin: 5px 0;

  color: var(--text-grey, #6C6C6C);
}


.profile-friend {
  position: absolute;
  top: 304px;
  left: 29px;
  margin: 5px 0;

  color: var(--grey, #989898);
}